<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="activeft retrieves data intelligently to maximize the information gain about a downstream task. This can be used, for example, to select data for efficient few-shot fine-tuning or to populate a context for in-context learning.">
        <meta property="og:title" content="Active Few-Shot Learning">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://jonhue.github.io/activeft">
        <title>Active Few-Shot Learning</title>
        {% autoescape false %}{% filter replace("\n","") | replace("    ","") | replace("<s","\n    <s") %}
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "SoftwareApplication",
                    "name": "activeft",
                    "operatingSystem": "Python 3",
                    "applicationCategory": "DeveloperApplication",
                    "sameAs": [
                    "https://github.com/jonhue/activeft",
                    "https://pypi.org/project/activeft/"
                    ],
                    "offers": {
                        "@type": "Offer",
                        "price": "0",
                        "priceCurrency": "USD"
                    },
                    "review": {
                        "@type": "Review",
                        "reviewRating": {
                            "@type": "Rating",
                            "ratingValue": "5"
                        },
                        "author": {
                            "@type": "Person",
                            "name": "Maximilian Hils",
                            "sameAs": "https://hi.ls/"
                        },
                        "reviewBody": "A lightweight alternative to Sphinx!"
                    },
                    "url": "https://jonhue.github.io/activeft"
                }
            </script>
            <style>{% include 'resources/bootstrap.min.css' %}</style>
            <style>/* pygments */{{ pygments_css }}</style>
            <style>{% include 'index.css' %}</style>
        {% endfilter %}{% endautoescape %}
    </head>
    {%- macro icon(name) -%}
        {% autoescape false %}
        {% filter replace('<svg ', '<svg aria-hidden="true" ') %}
            {% include "resources/" + name + ".svg" %}
        {% endfilter %}
        {% endautoescape %}
    {%- endmacro %}
    <body>
        <header>
            <h1>Active Fine-Tuning</h1>
            <p>
                Efficiently fine-tune large neural networks by intelligent active data selection.
            </p>
        </header>

        <aside id="example">
            <input type="radio" class="btn-check" name="view-selector" id="view-1" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="view-1">at Test-Time</label>
            {# <input type="radio" class="btn-check" name="view-selector" id="view-2" autocomplete="off">
            <label class="btn btn-outline-dark" for="view-2">during Post-Training</label> #}
            <input type="radio" class="btn-check" name="view-selector" id="view-3" autocomplete="off">
            <label class="btn btn-outline-dark" for="view-3">within an Outer Loop</label>
            <div class="example-code" id="example-1">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14">
                    <g>
                        <circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle>
                        <circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle>
                        <circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle>
                    </g>
                </svg>
                <div class="title"></div>
                {{ example_html1 }}
            </div>
            {# <div class="example-code" id="example-2">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14">
                    <g>
                        <circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle>
                        <circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle>
                        <circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle>
                    </g>
                </svg>
                <div class="title"></div>
                {{ example_html2 }}
            </div> #}
            <div class="example-code" id="example-3">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14">
                    <g>
                        <circle cx="6" cy="6" r="6" fill="#FF5F56" stroke="#E0443E" stroke-width=".5"></circle>
                        <circle cx="26" cy="6" r="6" fill="#FFBD2E" stroke="#DEA123" stroke-width=".5"></circle>
                        <circle cx="46" cy="6" r="6" fill="#27C93F" stroke="#1AAB29" stroke-width=".5"></circle>
                    </g>
                </svg>
                <div class="title"></div>
                {{ example_html3 }}
            </div>
        </aside>

        <main>
            <div id="actions">
                <a href="https://github.com/jonhue/activeft"
                itemprop="sameAs"
                class="btn btn-dark shadow">
                    {{ icon("github") }}
                    &nbsp;GitHub
                </a>
                <a href="docs/activeft.html" class="btn btn-dark shadow">
                    {{ icon("book-half") }}
                    &nbsp;Documentation
                </a>
                <a href="TODO"
                class="btn btn-dark shadow">
                    {{ icon("newspaper") }}
                    &nbsp;Paper
                </a>
            </div>
            <p><center>
                <code>activeft</code> retrieves data intelligently to maximize the information gain about specified prediction targets.
                This can be used to select data for efficient <i>fine-tuning</i> or to efficiently <i>learn at test-time</i>.
            </center></p>
            <div id="publications">
                <h3>Publications</h3>
                <div>
                    <h5>Efficiently Learning at Test-Time: Active Fine-Tuning of LLMs</h5>
                    {# <p>Jonas Hübotter, Sascha Bongni, Ido Hakimi, Andreas Krause</p> #}
                    <p>Preprint</p>
                </div>
                <div>
                    <h5>Transductive Active Learning: Theory and Applications <a href="https://arxiv.org/abs/2402.15898">{{ icon("newspaper") }}</a></h5>
                    {# <p>Jonas Hübotter, Bhavya Sukhija, Lenart Treven, Yarden As, Andreas Krause</p> #}
                    <p>NeurIPS 2024</p>
                </div>
            </div>
        </main>

        <footer>
            {# <div class="text-center">
                Authors: <a href="https://jonhue.github.io">Jonas Hübotter</a>, <a href="https://sukhijab.github.io">Bhavya Sukhija</a>, <a href="https://lenarttreven.github.io">Lenart Treven</a>, <a href="https://yas.pub">Yarden As</a>, and <a href="https://las.inf.ethz.ch/krausea">Andreas Krause</a>
            </div> #}

            <div id="orgs">
                <a href="https://ethz.ch/en"><img src="resources/eth.png"></a>
                <a href="https://las.inf.ethz.ch"><img src="resources/las.png"></a>
            </div>
            <div>
                made by <a href="https://jonhue.github.io">Jonas Hübotter</a>
            </div>
        </footer>

        <div id="github-button">{% include "resources/_github-button.html" %}</div>
    </body>
</html>
